<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        body{
            background-color: aliceblue;

        }
    </style>
</head>
<body>
    <form action="/update/<%= data.title %>" method="post" enctype="multipart/form-data" >
        <input type="file" name="image">
        <input type="text" placeholder="title" name="title" value="<%= data.title %>">
        <textarea placeholder="disc" name="disc" id="" cols="30" rows="10"><%= data.disc %></textarea>
        <button>Update</button>
    </form>
</body>
</html>